<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title>Mystery Project</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="/css/workoutSearch.css">
      </head>
   <body>

    <header>
          <h1>Mystery Project</h1>
          <nav class="navbar navbar-default" role="navigation">           
            <ul class="nav navbar-nav">
                <li><a class="navRadius" href="/">Home</a></li>
                <li><a class="navRadius" href="/searches/new">Search Workouts</a></li>
                <li><a class="navRadius" href="/workout">My Workouts</a></li>
                <li><a class="navRadius" href="/aboutUs">About Us</a></li>
                <li><a class="navRadius" href="/login">Login</a></li>
                <!-- <li><a href="/books/2">Book</a></li> -->   </ul>    
        </nav>
    </header>


    <form class="workout-view-container" action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <fieldset>
         <span font-size="20px">Abs</span> <input type="radio" name="searchType" value="abs"/>
         <span font-size="20px">Arms</span><input type="radio" name="searchType" value="arms" />
         <span font-size="20px">Back</span><input type="radio" name="searchType" value="back" />
         <span font-size="20px">Calves</span><input type="radio" name="searchType" value="calves" />
         <span font-size="20px">Chest</span><input type="radio" name="searchType" value="chest" />
         <span font-size="20px">Legs</span><input type="radio" name="searchType" value="legs" />
         <span font-size="20px">Shoulders</span><input type="radio" name="searchType" value="shoulders" />
         <!-- <input type="text" name="searchQuery" /> -->
        </fieldset>
        <button class = "api--button" type="submit">Search</button>
      </form>
   

<footer>
</footer>

</body>
</html>
