<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title>FitNess Plus</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="/css/workoutSearch.css">
      </head>
   <body>

    <header>
          <h1>FitNess Plus</h1>
          <nav class="navbar navbar-default" role="navigation">           
            <ul class="nav navbar-nav">
                <li><a class="navRadius" href="/">Home</a></li>
                <li><a class="navRadius" href="/searches/new">Search Workouts</a></li>
                <li><a class="navRadius" href="/workout">My Workouts</a></li>
                <li><a class="navRadius" href="/login">Login</a></li>
                <!-- <li><a href="/books/2">Book</a></li> -->   </ul>    
        </nav>
    </header>


    <form class="workout-view-container" action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <fieldset>
         <label font-size="20px"> Abs <input type="radio" name="searchType" value="abs"/></label>
         <label font-size="20px"> Arms <input type="radio" name="searchType" value="arms" /></label>
         <label font-size="20px"> Back <input type="radio" name="searchType" value="back" /></label>
         <label font-size="20px"> Calves <input type="radio" name="searchType" value="calves" /></label>
         <label font-size="20px"> Chest <input type="radio" name="searchType" value="chest" /></label>
         <label font-size="20px"> Legs <input type="radio" name="searchType" value="legs" /></label>
         <label font-size="20px"> Shoulders <input type="radio" name="searchType" value="shoulders" /></label>
         <!-- <label font-size="20px">All</span><input type="radio" name="searchAll" value="all" /> -->
         <!-- <input type="text" name="searchQuery" /> -->
        </fieldset>
        <button class = "api--button" type="submit">Search</button>
      </form>
   

<footer>
</footer>

</body>
</html>
