<!DOCTYPE html>

<html>
   <head>
   
   </head>
   <body>

    <header>
    <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="/searches/new">Search</a></li> -->
    </ul>
    <nav>
 
    </nav>
    </header>


    <form class="workout-view-container" action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <h1 padding=20px>Workout Search Form</h1>
        <fieldset>
         <span font-size="20px">Abs</span> <input type="radio" name="searchType" value="abs"/>
         <span font-size="20px">Arms</span><input type="radio" name="searchType" value="arms" />
         <span font-size="20px">Back</span><input type="radio" name="searchType" value="back" />
         <span font-size="20px">Calves</span><input type="radio" name="searchType" value="calves" />
         <span font-size="20px">Chest</span><input type="radio" name="searchType" value="chest" />
         <span font-size="20px">Legs</span><input type="radio" name="searchType" value="legs" />
         <span font-size="20px">Shoulders</span><input type="radio" name="searchType" value="shoulders" />
         <span font-size="20px">All</span><input type="radio" name="searchAll" value="all" />
         <!-- <input type="text" name="searchQuery" /> -->
        </fieldset>
        <button class = "api--button" type="submit">Search</button>
      </form>
   

<footer>
</footer>

</body>
</html>
