<!DOCTYPE html>

<html>
   <head>
   
   </head>
   <body>

    <header>
    <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="/searches/new">Search</a></li> -->
    </ul>
    <nav>
 
    </nav>
    </header>


    <form class="workout-view-container" action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <h1 padding=20px>Workout Search Form</h1>
        <fieldset>
         <label font-size="20px"> Abs <input type="radio" name="searchType" value="abs"/></label>
         <label font-size="20px"> Arms <input type="radio" name="searchType" value="arms" /></label>
         <label font-size="20px"> Back <input type="radio" name="searchType" value="back" /></label>
         <label font-size="20px"> Calves <input type="radio" name="searchType" value="calves" /></label>
         <label font-size="20px"> Chest <input type="radio" name="searchType" value="chest" /></label>
         <label font-size="20px"> Legs <input type="radio" name="searchType" value="legs" /></label>
         <label font-size="20px"> Shoulders <input type="radio" name="searchType" value="shoulders" /></label>
         <!-- <label font-size="20px">All</span><input type="radio" name="searchAll" value="all" /> -->
         <!-- <input type="text" name="searchQuery" /> -->
        </fieldset>
        <button class = "api--button" type="submit">Search</button>
      </form>
   

<footer>
</footer>

</body>
</html>
