<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/workout.css" />
	<!-- <link rel="stylesheet" href="/css/style.css" /> -->

	<title>My Workouts</title>

</head>
<body>
	<header>
		<h1>Mystery Project</h1>
		<nav class="navbar navbar-default" role="navigation">           
			<ul class="nav navbar-nav">
					<li><a class="navRadius" href="/">Home</a></li>
					<li><a class="navRadius" href="/searches/new">Search Workouts</a></li>
					<li><a class="navRadius" href="/workout">My Workouts</a></li>
					<li><a class="navRadius" href="/login">Login</a></li>
					<!-- <li><a href="/books/2">Book</a></li> -->   </ul>    
	</nav>
</header>

<div class = "workout-placeholder">

</div>
	
<script></script>

</body>

<footer> </footer>

</html>