<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/workout.css" />
	<link rel="stylesheet" href="/css/style.css" />

	<title>My Workouts</title>

</head>
<body>
    <header>
		<nav class="navbar navbar-default" role="navigation">           
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/searches/new">Add Workout</a></li>
			</ul>    
		</nav>
	
		<h1>My Workouts</h1>
	</header>

<div class = "workout-placeholder">

</div>
	
<script></script>

</body>

<footer> </footer>

</html>