/* ((((((((( GOES TO THE NEW.EJS FILE ))))))))) */

/* =============================================== */
/* --------- What shows across all pages --------- */
/* =============================================== */
body {
  background-color: rgb(143, 90, 90);
}

/* Main Header/Title of Site */
h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(37, 238, 221, 0), 0 0 15px rgb(233, 162, 104);
  color: white;
}

/* Header and Nav */
header {
  background-color:rgb(105, 65, 65);
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

a:link {
  background-color: darkgrey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover, a:active {
  background-color: rgb(233, 162, 104);
}

div {
  display: block;
  border: orange;
  /* list-style-type: none; */
}

li {
  display: inline-block;
  justify-content: space-around;
  border-top:darkgrey;
}

.navRadius {
  border-radius: 5px;
}








/* =============================== */
/* --------- Search Form --------- */
/* =============================== */
/* style the submit button */
.api--button {
  background-color:rgb(145, 48, 137);
  color: rgb(43,43,43);
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.api--button:hover {
  background-color: rgb(233, 162, 104);
}

fieldset {
  background-color: rgb(43, 43, 43);

  padding: 25px;
}

form {
  text-align: center;
  background-color: rgb(43, 43, 43);
  border-radius: 5px;
  color:rgb(145, 48, 137);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
  background-color:rgb(233, 162, 104);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

input {
  margin: 5px;
}